<thead th:fragment="tableHeader">

<tr>

  <th style="
		background:#00334e;
		color:#fff;
		padding:8px;
		text-transform:uppercase;
	">
    S.No.
  </th>

  <th style="
		background:#00334e;
		color:#fff;
		padding:8px;
		text-transform:uppercase;
	">
    Item Description
  </th>

  <th style="
		background:#00334e;
		color:#fff;
		padding:8px;
		text-transform:uppercase;
	">
    Qty
  </th>

  <th style="
		background:#00334e;
		color:#fff;
		padding:8px;
		text-transform:uppercase;
	">
    Days
  </th>

  <th style="
		background:#00334e;
		color:#fff;
		padding:8px;
		text-transform:uppercase;
		text-align:right;
	">
    Rate
  </th>

  <th style="
		background:#00334e;
		color:#fff;
		padding:8px;
		text-transform:uppercase;
		text-align:right;
	">
    Total
  </th>

</tr>

</thead>